<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVC</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <style>
        header, footer{
            font-size: 25px;
            padding: 15px;
            border: 5px solid green;
        }
        header{
            margin-bottom: 15px;
        }
        footer{
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <header>Header</header>
    <%- body %>
    <footer>footer</footer>
</body>
</html>